@media only screen and (min-width: 800px){
#info-app{
    width: 30%;
    p{
        width: 90%;
        text-align: justify;
        margin: 5%;
    }
}
#list-space{
    width: 35%;
    #list{
        width: 90%;
        margin: 5%;
    }
}
}